
<div class="open" onclick="toggleMenu()">
    <div class='bar'></div>
    <div class='bar'></div>
    <div class='bar'></div>
</div>
<div class="menu" id="menu">
    <div class ="menuTitle">
        <p>MyFace</p>
    </div>
    <a href="#" onclick="toggleMenu()" class="close"></a>
    
    <div class="menuLinks">
        
        <p><a href="/posts">Posts</a></p>
        <p><a href="/users">Users</a></p>
        <p><a href="/posts/create">+ New Post</a></p>
    </div>
    
</div>

